<!doctype html>
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>
<html lang="pt-BR">
  <body>
    <div style="center">
      <h2>Login</h2>
      <div style="text-align: center">
        <form action="submit" method="POST"> {% csrf_token %}
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Entrar</button>
        </form>
      </div>
      {% for message in messages %}
        <div style="text-align: center">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </body>
</html>
